#light {
    background-color: white;
}

#dark {
    background-color: rgb(135, 16, 16);
}

.ap{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}